<%= render "layouts/navbar" %>

<div class="container">
  <div class="booking-form">
    <div class="row-fluid">
      <div class="span7">
        <div class="booking-question">
          <h3>What do you need?</h3>
          <div class="booking-container">
            <p class="booking-sub-text">This will give us an overview of what services to provide. We'll get the details later.</p>
            <div class="row-fluid booking-selector">
              <div class="booking-lead span8">I need preparation before guests arrive</div>
              <div class="span4">
                <button class="btn btn-large btn-primary booking-btn">Yes</button>
                <button class="btn btn-large booking-btn">No</button> 
              </div>
            </div>
            <div class="row-fluid booking-selector">
              <div class="booking-lead span8" id="multiple-guests">I have multiple guest stays and I need preparation between guests</div>
              <div class="span4">
                <button class="btn btn-large btn-primary booking-btn">Yes</button>
                <button class="btn btn-large booking-btn">No</button> 
              </div>
            </div>
            <div class="row-fluid booking-selector">
              <div class="booking-lead span8">I would like cleaning after guests arrive</div>
              <div class="span4">
                <button class="btn btn-large btn-primary booking-btn">Yes</button>
                <button class="btn btn-large booking-btn">No</button> 
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="span4 offset1 booking-next-step">
        <a class="btn btn-large btn-success span12" id="next-step" href="booking2">NEXT STEP</a>
        <div class="hb-logo">
          <img src="/assets/hummingbird_logo.png" width="150" height="150">
        </div>
      </div>
    </div>
  </div>
</div>