<%= render "layouts/navbar" %>

<div class="container">
  <div class="booking-form">
	<div class="booking-container-right pull-right span4">  
	  
	  <!-- BEGIN CONTACT BOX -->

	  <div class="contact-box">
	    <div class="head-prompt">
	      <h3>Questions?</h3>
	    </div>
	    <p>Email <a href="mailto:team@joinhummingbird.com">team@joinhummingbird.com</a> or call 781-307-7431</p>
	  </div>

	  <!-- /END CONTACT BOX -->
	
	</div> <!-- /end booking-container-right -->

	<!-- BEGIN BOOKING QUESTIONS -->

	<div class="booking-questions pull-left span7">
	  <div class="head-prompt">
	  	<h3>Order Summary</h3>
	  </div>
	  <div>
	  	<h4>Appointment <a>edit</a></h4>
		  <p>Date: Monday March 9, 2013 (calendar)</p>
		  <p>Time: 9am-11am</p>

		  <h4>Address <a>edit</a></h4>
		  <p>2741 Folsom St, San Francisco, CA 94110</p>
		  
		  <h4>Details <a>edit</a></h4>
		  <p>Yes I want HummingBird to provide sheets and towels</p>
		  <p>Key will be under the mat</p>
		  <p>Please make sure the gate is locked in the back. Also, please take out trash in the bathroom as well as the kitchen. Thanks!</p>
		</div>
	</div>

	<a class="next-step btn btn-large btn-success span5 offset1" href="sign-in">NEXT STEP</a>

	<!-- /END BOOKING QUESTIONS -->

  </div> <!-- /end booking-form -->
  <hr class="featurette-divider span12">
</div> <!-- /end container -->