<%= render "layouts/navbar" %>

<div class="container">
  <div class="booking-form">
    <div class="row-fluid">
      <div class="span7">
        <div class="booking-question">
          <h3>HummingBird sheets & towels?</h3>
          <div class="booking-container">
            <p>We provide hotel quality sheets and towels that have been washed with green products to ensure maximum comfort for your guests.   <a>more</a></p>
            <div class="row-fluid booking-selector">
              <button class="btn btn-large btn-primary booking-btn pull-left">Yes</button>
              <button class="btn btn-large booking-btn pull-left">No</button>
            </div>
            <div class="row-fluid sheets booking-lead" id="guest">
              <div class="span4">How many guests?</div>
              <div class="span8">
                <a class="btn btn-large btn-primary btn-guests">1</a>
                <a class="btn btn-large btn-guests">2</a>
                <a class="btn btn-large btn-guests">3</a>
                <a class="btn btn-large btn-guests">4</a>
                <a class="btn btn-large btn-guests">5</a>
                <a class="btn btn-large btn-guests">6</a>
              </div>
            </div>
            <div class="row-fluid sheets booking-lead">
              <div>Sheet requirements:</div>
              <input id="beds-input" type="number" placeholder="0"><span id="beds-size">King</span></input>
              <input id="beds-input" type="number" placeholder="0"><span id="beds-size">Queen</span></input>
              <input id="beds-input" type="number" placeholder="0"><span id="beds-size">Double</span></input>
              <input id="beds-input" type="number" placeholder="0"><span id="beds-size">Single</span></input>
            </div>
          </div>
        </div>
        <div class="booking-question">
          <h3>How many bedrooms?</h3>
          <div class="booking-container" id="bedroom-selector">
            <div class="row-fluid">
              <a class="btn btn-large btn-primary btn-bedrooms">1</a>
              <a class="btn btn-large btn-bedrooms">2</a>
              <a class="btn btn-large btn-bedrooms">3</a>
              <a class="btn btn-large btn-bedrooms">4</a>
            </div>
          </div>
        </div>
      </div>
      <div class="span4 offset1">
        <div class="pull-right">
          <div class="total">Total: $30.00</div>
        </div>
        <a class="btn btn-large btn-success span12" id="next-step" href="booking3">NEXT STEP</a>
        <div class="hb-logo">
          <img src="/assets/hummingbird_logo.png" width="150" height="150">
        </div>
    </div>
  </div>
</div>