<%= render "layouts/navbar" %>

<div class="container">
  <div class="booking-form">
    <div class="row-fluid">
      <div class="booking-container-right pull-right span4"> 

        <!-- BEGIN EVERY CLEAN BOX -->
        <div id="every-clean">
          <div class="head-prompt">
            <h3>With Every Clean</h3>
          </div>
          <ul>
            <li>Change sheets and towels</li>
            <li>Clean bathroom (toilet, sink, mirrors, bath/shower, floor)</li>
            <li>Clear dishes and clean sink</li>
            <li>Wipe down/vacuum floors</li>
            <li>Take out trash and replace bags</li>
            <li>Dust off surface tops</li>
            <li>Tidy up any trash or mess left by guests</li>
          </ul>
          <div class="head-prompt">
            <h3>Deep Clean</h3>
          </div>
          <ul>
            <li>Heavy vacuuming and mopping</li>
            <li>Thorough dusting of all surfaces, windows, furniture, electronics</li>
            <li>Window ledges and blinds</li>
            <li>Kitchen: stove, microwave, coutertops, appliances, fridge, oven</li>
          </ul>
        </div>
      </div> <!-- /end booking-container-right -->  
      <!-- /END EVERY CLEAN BOX -->
  
      <!-- BEGIN BOOKING QUESTIONS -->
      <div class="booking-questions-container pull-left span7">
        <div class="booking-question">
          <div class="head-prompt">
            <h3>How deep are we going?</h3>
          </div>
          <div class="answer">
            <p class="answer-sub-lead">
              <input type="checkbox"> This is just a tidy up
          </p>
            <p class="answer-sub">$45 for one hour standard clean</p>
            <p class="answer sub" id="special-offer">$20 if you spend 10 minutes on the phone with us telling us how we can be better</p>
            <p class="answer-sub-lead">
              <input type="checkbox"> We're going deep, I want it spotless
          </p>
            <p class="answer-sub">$90 for two hour deep clean</p>
          </div>
        
          <div class="head-prompt">
            <h3>How big is your place?</h3>
          </div>
          <div class="answer">
            <p class="answer-sub-lead span4">Bedrooms</p>
            <a class="btn btn-large narrow lower btn-primary">1</a>
            <a class="btn btn-large narrow lower">2</a>
            <a class="btn btn-large narrow lower">3</a>
            <a class="btn btn-large narrow lower">4</a>
            <p class="answer-sub-lead">Bathrooms</p>
          </div>
        </div>
        
      </div>
      <a class="next-step btn btn-large btn-success span5 offset1" href="booking2">NEXT STEP</a>
      <!-- /END BOOKING QUESTIONS -->

    </div>
  </div> <!-- /end booking-form -->
  <hr class="featurette-divider span12">
</div> <!-- /end container -->