<%= render "layouts/navbar" %>

<div class="container">
  <div class="booking-form">
    <div class="row-fluid">
      <div class="span7">
        <div class="booking-question">
          <h3>When?</h3>
          <div class="booking-container">
            <div class="row-fluid">
              <img class="span7" src="/assets/calendar.gif" width="150" height="200">
              <div class="span5 time">
                <div class="btn" id="timeslot">9:00AM</div>
                <div class="btn" id="timeslot">9:30AM</div>
                <div class="btn" id="timeslot">3:00PM</div>
              </div>
            </div>
          </div>
          <h3>Where?</h3>
          <div class="booking-container">
            <div class="row-fluid">
              <input class="span10" type="text" placeholder="Type address here...">
              <input class="span2" type="text" placeholder="Apt #">
            </div>
          </div>
        </div>
      </div>
      <div class="span4 offset1">
        <a class="btn btn-large btn-success span12" id="booking-next-step" href="booking2">NEXT STEP</a>
        <div class="hb-logo">
          <img src="/assets/hummingbird_logo.png" width="150" height="150">
        </div>
      </div>
    </div>
  </div>
</div>