<%= render "layouts/navbar" %>

<div class="container">
  <div class="booking-form">
    <div class="row-fluid">
      <div class="span7">
        <div class="booking-question">
          <h3>Before guests arrive</h3>
          <div class="booking-container">
            <div class="row-fluid">
              <button class="btn btn-large btn-primary btn-before-guests">Full Clean $80</button>
              <button class="btn btn-large btn-before-guests">Just Prep $25</button>
            </div></br>
            <p>We provide hotel quality sheets and towels that have been washed with green products to ensure maximum comfort for your guests.</p>
            <a><i class="icon-plus"></i><span class="more">more</span></a>
          </div>
        </div>
        <div class="booking-question">
          <h3>When?</h3>
          <div class="booking-container">
            <div class="row-fluid">
              <img class="span7" src="/assets/calendar.gif" width="150" height="200">
              <div class="span5 time">
                <div class="btn" id="timeslot">9:00AM</div>
                <div class="btn" id="timeslot">9:30AM</div>
                <div class="btn" id="timeslot">3:00PM</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="span4 offset1">
        <div class="pull-right">
          <div class="total">Total: $80.00</div>
        </div>
        <a class="btn btn-large btn-success span12" id="next-step" href="booking4">NEXT STEP</a>
        <div class="hb-logo">
          <img src="/assets/hummingbird_logo.png" width="150" height="150">
        </div>
      </div>
    </div>
  </div>
</div>