<%= render "layouts/navbar" %>

<div class="container">
  <div class="booking-form">
	<div class="booking-container-right pull-right span4">  
	  
	  <!-- BEGIN CONTACT BOX -->

	  <div class="contact-box">
	    <div class="head-prompt">
	      <h3>Questions?</h3>
	    </div>
	    <p>Email <a href="mailto:team@joinhummingbird.com">team@joinhummingbird.com</a> or call 781-307-7431</p>
	  </div>

	  <!-- /END CONTACT BOX -->
	
	</div> <!-- /end booking-container-right -->

	<!-- BEGIN BOOKING QUESTIONS -->

	<div class="booking-questions pull-left span7">
	  <div class="head-prompt">
	  	<h3>How do we get in?</h3>
	  </div>
	  <ul>
	  	<li>I will be home</li>
	  	<li>Key under the mat</li>
	  	<li>I will provide the entry code in special instructions</li>
	  </ul>
	</div>

	<div class="booking-questions pull-left span7">
	  <div class="head-prompt">
	  	<h3>Special instructions?</h3>
	  </div>
	  <p>Please povide any special instructions here</p>
	</div>
	<a class="next-step btn btn-large btn-success span5 offset1" href="booking5">REVIEW ORDER</a>

	<!-- /END BOOKING QUESTIONS -->

  </div> <!-- /end booking-form -->
  <hr class="featurette-divider span12">
</div> <!-- /end container -->