<%= render "layouts/navbar" %>

<div class="container">
  <div class="booking-form">
		<div class="booking-container-right pull-right span4">  
		  
		  <!-- BEGIN CONTACT BOX -->

		  <div class="contact-box">
		    <div class="head-prompt">
		      <h3>Questions?</h3>
		    </div>
		    <p>Email <a href="mailto:team@joinhummingbird.com">team@joinhummingbird.com</a> or call 781-307-7431</p>
		  </div>

		  <!-- /END CONTACT BOX -->
		
		</div> <!-- /end booking-container-right -->

		<!-- BEGIN BOOKING QUESTIONS -->

		<div class="booking-questions pull-left span7">
		  <div class="head-prompt">
		  	<h3>Would you like HummingBird to provide sheets and towels?</h3>
		  </div>
		  <h4>How it works</h4>
		  <p>Explanation here (or video)</p>
		</div>

		<a class="next-step btn btn-large btn-success span5 offset1" href="booking4">YES PLEASE!</a>
		<a class="next-step btn btn-large btn-success span5 offset1" href="booking4">No Thanks</a>

		<!-- /END BOOKING QUESTIONS -->

  </div> <!-- /end booking-form -->
  <hr class="featurette-divider span12">
</div> <!-- /end container -->