<%= render "layouts/navbar" %>

<div id="masthead">
  <div class="container">
    <div class="row">
	  <div class="span12">
		<div class="hero-unit" id="home">
		  <div class="inner">
			<h1>Apartment Cleaning Service</h1>
			<p class="lead">for Airbnb hosts in San Francisco</p>
			<div class="btn-container">
			  <a class="btn btn-large btn-success" href="book">BOOK NOW</a>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
</div>