<%= render "layouts/navbar" %>

<div id="masthead">
  <div class="container">
    <div class="row">
  	  <div class="span12">
    		<div class="hero-unit" id="home">
    		  <div class="inner">
      			<h1>Apartment Cleaning Service</h1>
      			<p class="lead">for Airbnb hosts in San Francisco</p>
      			<div class="btn-container">
      			  <a class="btn btn-large btn-success" href="booking1">BOOK NOW<div id="button-subtext">schedule in under a minute</div></a>
      			</div>
    		  </div>
    		</div>
  	  </div>
	</div>
  </div>
</div>

<div class="container">

 <!-- START THE FEATURETTES -->  

  <div class="featurette">
    <h2 class="featurette-heading">About <span id="brand">HummingBird</span></h2>
    <p class="lead">We provide professional cleaning service for Airbnb hosts in San Francisco. Our goal is to make taking care of your apartment before, after and in between guests easy and reliable. We strive for a better short term home rental experience for both Airbnb hosts and guests.</p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <h2 class="featurette-heading">Why we exist</h2>
    <p class="lead">Because most Airbnb hosts don't have professional cleaning that is reliable and convenient for their Airbnb rental. Finding on demand professional cleaning is a hassle. Using TaskRabbit or asking a friend is unreliable. Cleaning yourself is okay, but it does not always work with your schedule and it takes time. And what if you have multiple guests coming while you are away?</p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <h2 class="featurette-heading">How it works</h2>
    <div class="lead">
      <p>You select a day and time when you need cleaning and tell us a little about your apartment. We will instantly let you know if we are available. You then choose exactly what you need and we quote you a price.</p>
      <p>Then all that's left is peace of mind... We clean your place and confirm promptly when the job is done. After the cleaning request is completed, payment is collected.</p>
      <p>Have questions or suggestions? We would be delighted to hear from you. Please <a href="/home#contact">contact us</a>.</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <h2 class="featurette-heading">What we offer</h2>
    <div class="lead">
      <p>We offer four different services</p>
      <ul type="disc">
        <li>We clean your home before your Airbnb guests arrive</li>
        <li>We prep your home before your guests arrive</li>
        <li>We prep your place between Airbnb guest stays</li>
        <li>We clean your place after Airbnb guests leave</li>
      </ul>
      <p>What is the difference between before cleaning and before prep? When you need someone to come in and really clean the place, we send in two professional for two hours. They do a full, thorough cleaning. When you simply need somone to come in and change the sheets put out clean towels, clear away any clutter in the house and make sure the bathroom is clean, we send someone in for an hour to "prep" your place. This is not a cleaning, we just make sure that your home is ready for guests.</p>
      <p>Likewise, our between guest stays prep is not a cleaning. We come in for an hour between when your first guests leave and your second guests arrive. We clean up any mess that was left by your first guests. We change the sheets and towels, take out the trash, clean the dishes, wipe down the countertops, make sure there is toilet paper in the bathrooms and generally ensure that your place is Airbnb ready for your next guests.</p>
      <p>After your guests leave we will do a post Airbnb cleaning. We send in our cleaning team to change your sheets and towels, take out the trash, sanitize the kitchen and bathrooms. Any messes made by your guests, we take care of it and make sure your home is ready for you when you return. This is not a "deep clean." However, if you want more than just a standard cleaning, please contact us and we will be happy to accommodate any of your particular requests.
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <h2 class="featurette-heading">No hassle. No coodies</h2>
    <div class="lead">
      <p>The first thing we ask you is whether or not you want us to provide you with sheets and towels. Not everyone loves sharing their own sheets and towels with strangers. We get that. It is also a hassle to wash sheets and change the duvet cover. As part of our service we are happy to provide your guests with super comfortable sheets and soft towels. We will even wash your sheets and towels while you are away and put them back on your bed when we come to pick up our linens.</p>
    </div>
  </div>

<hr class="featurette-divider">
  
  <div class="featurette">
    <h2 class="featurette-heading" id="services">Services provided</h2>
    <div class="lead">
      <div class="services-provided">
        <div class="row-fluid">
            <h3 class="services-head">Sheets and Towels?</h3>
            <p><img alt="Checkmark" src="assets/checkmark.png" class="checkmark">Clean Sheets</p>
            <p><img alt="Checkmark" src="assets/checkmark.png" class="checkmark">Matching pillow cases</p>
            <p><img alt="Checkmark" src="assets/checkmark.png" class="checkmark">Comfy duvet cover</p>
            <p><img alt="Checkmark" src="assets/checkmark.png" class="checkmark">Soft towels</p>
            <p><img alt="Checkmark" src="assets/checkmark.png" class="checkmark">No hassle</p>
            <p><img alt="Checkmark" src="assets/checkmark.png" class="checkmark">No coodies</p>  
        </div>
      </div>
    </div>
  </div>

  <hr class="featurette-divider">
  
  <div class="featurette">
    <h2 class="featurette-heading" id="services">Before your guests arrive</h2>
    <div class="lead">
      <div class="services-provided">
        <div class="row-fluid">
          <div class="span6">
            <h3 class="services-head">Prep</h3>
            <p><img alt="Checkmark" src="assets/checkmark.png" class="checkmark">Fresh sheets and towels</p>
            <p><img alt="Checkmark" src="assets/checkmark.png" class="checkmark">No clutter</p>
            <p><img alt="Checkmark" src="assets/checkmark.png" class="checkmark">Clear dishes and clean sink</p>
            <p><img alt="Checkmark" src="assets/checkmark.png" class="checkmark">Clean bathroom</p>
            <p><img alt="Checkmark" src="assets/checkmark.png" class="checkmark">Take out trash and replace bags</p>
            <p><img alt="Checkmark" src="assets/checkmark.png" class="checkmark">Dust off surface tops</p>
          </div>

          <div class="span6">
            <h3 class="services-head">Cleaning</h3>
            <p><img alt="Checkmark" src="assets/checkmark.png" class="checkmark">Changing the linens and towels</p>
            <p><img alt="Checkmark" src="assets/checkmark.png" class="checkmark">Dusting</p>
            <p><img alt="Checkmark" src="assets/checkmark.png" class="checkmark">Mopping and vacuuming</p>
            <p><img alt="Checkmark" src="assets/checkmark.png" class="checkmark">Clean furniture</p>
            <p><img alt="Checkmark" src="assets/checkmark.png" class="checkmark">Clean bathroom (toilet, sink, mirrors, bath/shower, floor, cabinets)</p>
            <p><img alt="Checkmark" src="assets/checkmark.png" class="checkmark">Clean kitchen (stove, microwave, countertops, sinks, appliances, cabinets and drawers, fridge, oven)</p>
          </div>          
        </div>
      </div>
    </div>
  </div>

<hr class="featurette-divider">
  
  <div class="featurette">
    <h2 class="featurette-heading" id="services">Between guest stays</h2>
    <div class="lead">
      <div class="services-provided">
        <div class="row-fluid">
            <h3 class="services-head">Prep</h3>
            <p><img alt="Checkmark" src="assets/checkmark.png" class="checkmark">Fresh sheets and towels</p>
            <p><img alt="Checkmark" src="assets/checkmark.png" class="checkmark">No clutter</p>
            <p><img alt="Checkmark" src="assets/checkmark.png" class="checkmark">Clear dishes and clean sink</p>
            <p><img alt="Checkmark" src="assets/checkmark.png" class="checkmark">Clean bathroom</p>
            <p><img alt="Checkmark" src="assets/checkmark.png" class="checkmark">Take out trash and replace bags</p>
            <p><img alt="Checkmark" src="assets/checkmark.png" class="checkmark">Wipe down counter tops</p>
            <p><img alt="Checkmark" src="assets/checkmark.png" class="checkmark">Make sure everything is ready for next guests</p>
        </div>
      </div>
    </div>
  </div>

<hr class="featurette-divider">
  
  <div class="featurette">
    <h2 class="featurette-heading" id="services">After guests leave</h2>
    <div class="lead">
      <div class="services-provided">
        <div class="row-fluid">
            <h3 class="services-head">Cleaning</h3>
            <p><img alt="Checkmark" src="assets/checkmark.png" class="checkmark">Your own sheets and towels back on your bed</p>
            <p><img alt="Checkmark" src="assets/checkmark.png" class="checkmark">Clean bathroom (shower, toilet, sink)</p>
            <p><img alt="Checkmark" src="assets/checkmark.png" class="checkmark">Clean kitchen (Counter tops, sink, dishes)</p>
            <p><img alt="Checkmark" src="assets/checkmark.png" class="checkmark">Take out trash and replace bags</p>
            <p><img alt="Checkmark" src="assets/checkmark.png" class="checkmark">Make sure everything is ready for your arrival</p>
        </div>
      </div>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="btn-container" id="middle-page">
    <a class="btn btn-large btn-success" href="booking1">BOOK NOW<div id="button-subtext">schedule in under a minute</div></a>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <h2 class="featurette-heading" id="contact-page">Contact us</h2>
    <div class="lead">
      <h4>Email:</h4>
      <a href="mailto:team@joinhummingbird.com">team@joinhummingbird.com</a>
      <h4>Phone:</h4><span>781.307.7431</span>
    </div>
  </div>

  <div id="FAQ"></div>

  <hr class="featurette-divider">

  <div class="featurette">
    <h2 class="featurette-heading" id="contact-page">Frequently Asked Questions</h2>
    <div class="shell">
      <ul id="question-list">
        <li><a href="#services">What cleaning services do you provide?</a></li>
        <li><a href="#insured">Are the cleaners bonded, insured and background checked?</a></li>
        <li><a href="#sheets">How do I return sheets and towels?</a></li>
        <li><a href="#payment">How do I pay?</a></li>
        <li><a href="#present">Do I need to be home when the cleaners arrive?</a></li>
        <li><a href="#supplies">Do I need to provide cleaning supplies?</a></li>
        <li><a href="#tip">Is tip included?</a></li>
      </ul>
      
      <div class="question-answer">
        <h5 id="services">What cleaning services do you provide?</h5>
        <p>Every clean comes with standard cleaning. We change the sheets and towels, wipe/vacuum the floors, take out the trash, clean any dishes and the kitchen sink and generally tidy up. We also offer a deep clean with additional services. For additional information see our <a href="/booking1">service list</a>. Our staff is very familiar with Airbnb and knows what is expected of Airbnb hosts. We will make sure that your place is ready for guests.</p>
        <h5 id="reliable">Are your cleaners reliable?</h5>
        <p>Absolutely. We understand that your reputation is on the line as a host, and we take that very seriously. We will show up on time and deliver excellent service. Concerns?  <a href="#contact">Call us</a>. We have your back and we truly care about your experience.</p>
        <h5 id="sheets">How do I return sheets and towels?</h5>
        <p>Just let us know when you are ready to return sheets and towels and we will pick them up within 24 hours.</p>
        <h5 id="insured">Are the cleaners bonded, insured and background checked?</h5>
        <p>Absolutely. We are bonded and insured and all of our cleaners have been vetted and thoroughly background checked.</p>
        <h5 id="payment">How do I pay?</h5>
        <p>After the cleaning is complete, we will send you an email with a link for accepting payment. We accept all major credit cards through Stripe.</p>
        <h5 id="present">Do I need to be home when the cleaners arrive?</h5>
        <p>Nope. Just let us know how to get in.</p>
        <h5 id="supplies">Do I need to provide cleaning supplies?</h5>
        <p>No. We come with our own environmentally friendly cleaning supplies. However, if you have supplies you would prefer we use, that is no problem.</p>
        <h5 id="tip">Is tip included?</h5>
        <p>Yep! No need to tip.</p>
        <h5 id="questions">Did we miss anything?</h5>
        <p>We would be delighted to answer any additional questions that you may have. Please do not hesitate to <a href="#contact">email us</a>. We really value your input and your questions and look forward to answering them.</p>
      </div>
    </div>
  </div>

  <div class="btn-container" id="middle-page">
    <a class="btn btn-large btn-success" href="booking1">BOOK NOW<div id="button-subtext">schedule in under a minute</div></a>
  </div>

  <hr class="featurette-divider">  

</div> <!-- /end container -->

