<%= render "layouts/navbar" %>

<div class="container">
  <h3>Housekeeping for Airbnb hosts</h3>
  <h4>About us</h4>
  <p>Our goal is to make it easy to manage multiple bookings on Airbnb. We offer a standardized service for making sure your place is clean and in order between stays.</p>
  <p>We understand that you have other challenges as well. Key exchange, greeting guests, full apartment cleaning, etc... If there is something else you need to make hosting on Airbnb smoother, speak with us now.</p>
  <p>For details on the services we provide, see our <a>services page</a>.<p>
  <h4>How it works</h4>
  <p>You schedule a time for us to provide housekeeping between guests.</p>
  <p>We handle it. We let you know when we are on our way and we confirm immediately when we're done.</p>
  <p>That's it. If you need anything else related to your Airbnb rental, chat with us now.</p>
  </br><a href="/schedule1"><button class="btn btn-large btn-primary">Schedule Housekeeping</button></a>
</div>
