<%= render "layouts/navbar" %>

<div id="masthead">
  <div class="container">
    <div class="row">
	  <div class="span12">
		<div class="hero-unit" id="home">
		  <div class="inner">
			<h1>Apartment Cleaning Service</h1>
			<p class="lead">for Airbnb hosts in San Francisco</p>
			<div class="btn-container">
			  <a class="btn btn-large btn-success" href="book">BOOK NOW</a>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
</div>

<div class="container">

 <!-- START THE FEATURETTES -->  

  <div class="featurette">
    <h2 class="featurette-heading">About <span id="brand">HummingBird</span></h2>
    <p class="lead">We provide professional cleaning service for Airbnb hosts in San Francisco. Our goal is to make taking care of your apartment before, after and in between guests easy and reliable.</p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <h2 class="featurette-heading">Why we exist</h2>
    <p class="lead">Because most Airbnb hosts don't have professional cleaning that is reliable and convenient for their Airbnb rental. Finding on demand professional cleaning is a hassle. Using TaskRabbit or asking a friend is unreliable. Cleaning yourself is okay, but it does not always work with your schedule and it takes time. And what if you have multiple guests coming while you are away?</p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <h2 class="featurette-heading">How it works</h2>
    <div class="lead">
      <p>You select a day and time when you need cleaning and tell us a little about your apartment. We provide a price quote and connect your request with our partner service providers. If we find a match, we send you an email asking you to confirm the booking.</p>
      <p>Then all that's left is peace of mind... We clean your place and confirm promptly when the job is done. After the cleaning request is completed, payment is collected.</p>
      <p>Have questions or suggestions? We would be delighted to hear from you. Please <%= link_to "contact us", "#" %>.</p>
    </div>
  </div>

  <div class="btn-container" id="middle-page">
    <a class="btn btn-large btn-success" href="book">BOOK NOW</a>
  </div>

  <hr class="featurette-divider">

  <!-- BEGIN CONTACT -->

  <!-- <div class="featurette">
    <h2 class="featurette-heading">What else we can do</h2>
    <p class="lead">Our cleaners are Airbnb-friendly. We put keys under mats and in lockboxes; we put out gift baskets and local maps; we can even great guests in a pinch; just let us know what we can do to help.</p>
  </div> -->

  <!-- /END THE FEATURETTES -->

  <div class="featurette">
    <h2 class="featurette-heading" id="contact-page">Contact us</h2>
    <div class="lead">
      <h4>Email:</h4>
      <a href="mailto:team@joinhummingbird.com">team@joinhummingbird.com</a>
      <h4>Phone:</h4><span>781.307.7431</span>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <h2 class="featurette-heading" id="contact-page">Frequently Asked Questions</h2>
    <div class="shell">
      <ul id="question-list">
        <li><a href="#cleaners">Can I trust the cleaner to show up at the exact right time and not miss anything?</a></li>
        <li><a href="#home">Do I need to be home when the cleaners arrive?</a></li>
        <li><a href="#supplies">Do I need to provide cleaning supplies?</a></li>
        <li><a href="#insured">Are your cleaners bonded, insured, and background checked?</a></li>
      </ul>
      
      <div class="question-answer">
        <h5 id="cleaners">Can I trust the cleaner to show up at the exact right time and not miss anything?</h5>
        <p>Yes. We understand that your reputation as a host is on the line and we take this very seriously. Our cleaners are thorough and understand the needs of Airbnb hosts. We will show up on time and deliver excellent service.</p>
        <h5 id="cleaners">Can I trust the cleaner to show up at the exact right time and not miss anything?</h5>
        <p>Yes. We understand that your reputation as a host is on the line and we take this very seriously. Our cleaners are thorough and understand the needs of Airbnb hosts. We will show up on time and deliver excellent service.</p>
        <h5 id="cleaners">Can I trust the cleaner to show up at the exact right time and not miss anything?</h5>
        <p>Yes. We understand that your reputation as a host is on the line and we take this very seriously. Our cleaners are thorough and understand the needs of Airbnb hosts. We will show up on time and deliver excellent service.</p>
        <h5 id="cleaners">Can I trust the cleaner to show up at the exact right time and not miss anything?</h5>
        <p>Yes. We understand that your reputation as a host is on the line and we take this very seriously. Our cleaners are thorough and understand the needs of Airbnb hosts. We will show up on time and deliver excellent service.</p>
      </div>
    </div>
  </div>

  <hr class="featurette-divider">  



  

</div> <!-- /end container -->

