<%= render "layouts/navbar" %>

<div class="container">
  <h3>Where?</h3>
  <p>Enter address here</p>
  <h3>How do we get in?</h3>
  <p>Enter description here</p>
  <h3>Additional Information?</h3>
  <input type="text" placeholder="Enter special instructions here...">
    <div>
    </br></br><a href="/schedule2"><button class="btn btn-large btn-primary">Next Step</button></a>
  </div>
</div>