<%= render "layouts/navbar" %>

<div class="container">
  <h3>When?</h3>
  <p>Select date and time here</p>
  <h3>Turnaround</h3>
  <p>We charge a flat rate for standard housekeeping. If you need sheets and towels laundered same day, we charge extra for wait time. Let us know if you need to prepare for guests arriving same day or if we have 12 hours to return clean sheets and towels.</p>
  <button class="btn btn-primary">Standard $35</button>
  <button class="btn btn-primary">Same Day $55</button>
  <div>
    </br></br><a href="/schedule2"><button class="btn btn-large btn-primary">Next Step</button></a>
  </div>
</div>