@import "bootstrap";

/* GLOBAL STYLES
-------------------------------------------------- */

html,
body {
  height: 100%;
  color: #272727;
  padding-top: 0px;
}

.container {

}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

/* Remove border and change up box shadow for more contrast */
.navbar .navbar-inner {
  padding: 0px;
  border: 0;
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
     -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
          box-shadow: 0 2px 10px rgba(0,0,0,.25);
}

/* Downsize the brand/project name a bit */
.navbar .brand {
  padding: 14px 34px 16px; /* Increase vertical padding to match navbar links */
  font-size: 24px;
  font-weight: 400;
  color: #5A87D8;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

/* Navbar links: increase padding for taller navbar */
.navbar .nav > li > a {
  padding: 15px 20px;
}

/* Offset the responsive button for proper vertical alignment */
.navbar .btn-navbar {
  margin-top: 10px;
}



/* MASTHEAD
-------------------------------------------------- */
#masthead {
  -webkit-box-shadow: 0 1px 5px 0 #BCBCBC;
     -moz-box-shadow: 0 1px 5px 0 #bcbcbc;
          box-shadow: 0 1px 5px 0 #BCBCBC;
  padding-top: 40px;
  margin-bottom: 40px;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  background-image: url(HB4.jpg); /* http://www.my-walls.net/wallpapers/2012/10/Hummingbird-Flying-Near-Flowers-1200x1920.jpg  from http://www.my-walls.net/*/
}

.hero-unit {
  opacity: .92;
  h1 {
    font-size: 40px;
  }
}

.inner {
  padding: 40px;
  margin-top: 40px;
  h1 {
    color: #5A5A5A;
  }
  .lead {
    font-size: 30px;
    color: #333;
    margin-top: 10px;
    margin-bottom: 25px;
  }
}

.btn-success {
  font-size: 22px;
  padding: 15px 20px;
  position: center;
  letter-spacing: 1px;
}

.btn-container {
  text-align: center;
  margin: auto
}

#button-subtext {
  margin-top: 5px;
  font-size: 14px;
}

#home {
  width: 610px;
  margin: auto;
  padding: 0px;
}



/* FEATURETTES
------------------------- */

.featurette-divider {
  margin: 50px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
  padding-top: 20px; 
  overflow: hidden; /* Vertically center images part 2: clear their floats. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

#middle-page {
    padding-top: 25px;
    padding-bottom: 5px;
    margin-bottom: 0px;
}

.services-provided {
  margin: 30px 10px;
  padding: 15px 25px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 6px #888;
     -moz-box-shadow: 1px 1px 6px #888;
          box-shadow: 1px 1px 6px #888;
}

.services-head {
  color: #333;
}

.checkmark {
  padding-right: 10px;
}

#contact-page {
  margin-bottom: 30px;
}





/* FAQ
------------------------- */
.shell {
  margin: 30px 10px;
  padding: 25px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 6px #888;
     -moz-box-shadow: 1px 1px 6px #888;
          box-shadow: 1px 1px 6px #888;
  #question-list {
    margin-bottom: 20px;
  }
  h5 {
    font-size: 20px;
    margin-bottom: 3px;
  }
  p {
    margin-bottom: 25px;
  }
}



/* BOOKING FORM
------------------------- */
.booking-form {
  margin-top: 80px;
  padding: 30px;
  border-radius: 3px;
  background-color: #FFF;
  -webkit-box-shadow: 1px 1px 6px #888;
     -moz-box-shadow: 1px 1px 6px #888;
          box-shadow: 1px 1px 6px #888;
}



/* SIGN-IN
------------------------- */
.form-signin {
  max-width: 300px;
  margin: 100px auto 20px;
  padding: 19px 29px 69px;
  background-color: #EEE;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 1px 1px 6px #888;
     -moz-box-shadow: 1px 1px 6px #888;
          box-shadow: 1px 1px 6px #888;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

#sign-in-button {
  float: left;
  margin-top: 5px;
}

#new-sign-up {
  padding: 13px 10px;
}



/* STICKY FOOTER
------------------------- */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
  }

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #f5f5f5;
}

.container .credit {
  margin: 20px 0;
}
